# deps
node_modules
.pnp
.pnp.js

# build
.next
out
dist
.wrangler/

# env
.env*.local
.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
*.pem
.vercel
*.tsbuildinfo
next-env.d.ts
